{% extends 'base.html' %}
{% block content %}

<h1>Drink Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ drink.name }}</span>
                <p>Drink Name: {{ drink.name }}</p>
                <p>Description: {{ drink.description|linebreaks }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'drinks_update' drink.id %}">Edit</a>
                <a href="{% url 'drinks_delete' drink.id %}">Delete</a>
            </div>
        </div>

        <!-- Insert photo markup below this comment -->
        
        {% for recipe in drink.recipe_set.all %}
        <a href="{% url 'recipe_detail' drink.id recipe.id %}">recipe #{{recipe.id}}</a><br />
        {% endfor %}
        <div class="card-action">
            <a href="{% url 'add_recipe' drink.id %}">add a recipe</a>
        </div>



{% endblock %}