{% extends 'base.html' %}
{% block content %}

<h1>{{recipe.name}}</h1>

<p>ingredients:</p>
{% if recipe.ingredients.count %}
    {% for ingredient in recipe.ingredients.all %}
    <p>{{ingredient.name}}</p>
    {% endfor %}
{% else %}
    <p>there are no ingredients in this recipe!</p>
{% endif %}
<p>{{recipe.instructions}}</p>

<div class="row">

<div class="col s3">
    <a href="{% url 'recipe_delete' drink.id recipe.id %}">
        <div class="card">
            <div class="card-content">
                delete recipe
            </div>
        </div>
    </a>
</div>

<div class="col s3">
    <a href="{% url 'recipe_update' drink.id recipe.id %}">
        <div class="card">
            <div class="card-content">
                edit recipe
            <div>
        </div>
    </div>
</a>
</div>

{% endblock %}