{% extends 'base.html' %}
{% block content %}

<h1>hey howdy hey this is recipe_detail.html</h1>
<p>I'm trying to figure out so here are two dynamic elements:</p>
<p>drink: {{drink}}</p>
<p>skill: {{recipe.skill_level}}</p>
<p>instructions: {{recipe.instructions}}</p>

<p>ingredients:</p>
{% if recipe.ingredients.count %}
    {% for ingredient in recipe.ingredients.all %}
    <p>{{ingredient.name}}</p>
    {% endfor %}
{% else %}
    <p>there are no ingredients in this recipe!</p>
{% endif %}
<p><a href="{% url 'recipe_delete' drink.id recipe.id %}">delete recipe</a></p>
<p><a href="{% url 'recipe_update' drink.id recipe.id %}">edit recipe</a></p>

{% endblock %}