.ingredient-list a:hover {
    background-color: yellowgreen;
}

/* .ingredient-list {
    display: grid;
    grid-template-rows: 1 fr 3 fr 1 fr 1fr 1 fr;
    grid-template-columns: 1fr 1fr;
} */

/* body {
    background-color: black;
} */



.title, .subtitle, .brand-logo, h2 {
    font-family: 'Ms Madi', cursive;
    font-size: 100px;
    text-align: center;
}

h3 {
    font-family: 'Ms Madi', cursive;
    text-align: center;
}

.cocktails {
    background-image: url("https://pourspot-bucket.s3.us-west-1.amazonaws.com/PWts0MF+wide.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100vh;
}

h1 {
    font-family: 'Ms Madi', cursive;

}

.card, .card-action {
    border-radius: 15px;
    margin: none;
}


.card-drink-index:hover {
    border-radius: 15px;
    transition: all .2s ease-in-out;
    outline: 3px solid #29A69A;
    /* color:#29A69A; */
}

.card-ingredient-list:hover {
    border-radius: 15px;
    transition: all .2s ease-in-out;
    outline: 3px solid #29A69A;
    /* color:#29A69A; */
}

.card-ingredient-list:hover {
    border-radius: 15px;
    transition: all .2s ease-in-out;
    outline: 3px solid #29A69A;
    /* color:#29A69A; */
    /* background-color: #cd9620; */
}

/* .card-ingredient-form {
    
} */

header {
    margin-bottom: -40px;
}

#id_instructions, #id_name, #id_password1, #id_password2 {
    color:rgb(255, 209, 172)
}

#id_description, #id_username, #id_password {
    color:rgb(255, 209, 172)
}

.select-dropdown .dropdown-trigger{
    color:white
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #cd9620;
}

.select-wrapper input.select-dropdown {
    color:rgb(255, 209, 172)
}

.select-wrapper {
    color:rgb(255, 209, 172)
}

.dropdown-content li>span {
    font-size: 16px;
    color: #363636;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

ul {
    display: table;
    margin: 0 auto;

}

li{
    display: inline;
    justify-items: center;
    align-items: center;
    text-align: center;
    list-style:none; 
    margin: 0 20px;

  }

  .names {
    margin: 0 60px;
  }

img {
    height: 150px;
    margin: 20px 0 0 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }


.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }


  .title {
    color: grey;
  }

  .about-name {
    font-size: 30px;
  }

  .about-title {
    font-size: 20px;
  }

  .about-us {
    justify-items: center;
    align-items: center;
    text-align: center;
   
  }

 .about-card {
    height: 320px;
  }

  @media (max-width: 1485px), screen and (orientation: portrait) {
    .about-card {
        height: 370px;
      }
  }

  @media (max-width: 390px), screen and (orientation: portrait) {
    .about-card {
        height: 370px;
        flex-direction: column;
        float: none;
        width: 100%;
      }
  }

