.ingredient-list a:hover {
    background-color: yellowgreen;
}

/* .ingredient-list {
    display: grid;
    grid-template-rows: 1 fr 3 fr 1 fr 1fr 1 fr;
    grid-template-columns: 1fr 1fr;
} */

/* body {
    background-color: black;
} */

.title, .subtitle{
    font-family: 'Ms Madi', cursive;
    font-size: 100px;
    text-align: center;
}

.cocktails {
    background-image: url("https://pourspot-bucket.s3.us-west-1.amazonaws.com/PWts0MF+copy.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.card, .card-action {
    border-radius: 15px;
}

#id_instructions, #id_name {
    color:rgb(255, 209, 172)
}

#id_description {
    color:rgb(255, 209, 172)
}

.select-dropdown .dropdown-trigger{
    color:white
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #cd9620;
}

.select-wrapper input.select-dropdown {
    color:rgb(255, 209, 172)
}

.select-wrapper {
    color:rgb(255, 209, 172)
}

.dropdown-content li>span {
    font-size: 16px;
    color: #363636;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

footer {
    position:absolute;
    bottom:0
}
