.ingredient-list a:hover {
    background-color: yellowgreen;
}

.row {
}

.ingredient-list {

}

.test {
    background-color: aquamarine;
    height: 100px;
    display: grid;
    grid-template-rows: 1 fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border-radius: 10px;
    border: 1px solid black;
}

.hoverable {
    /* background-color: yellow; */
}