{% extends 'base.html' %}
{% block content %}


    <span class="amber-text text-lighten-5">
        <h2>about us...</h2>
        <p class="center-align">PourSpot is a hub where users can connect and provide drinks and recipes in an easy to read format</p>
    </br>
        <h3>Our Mission</h3>
        <p class="center-align">This site is intended to share with all cocktail lovers and enjoy tested cocktail recipes for your pleasure. Responsible drinkers only please!</p>
    </span>
    </br>   

    <div class="row">
        <div class="col s12 m6 3">
            <container class="about-us">          
                <div class="card blue-grey darken-2 about-card">
                 <img src="https://i.imgur.com/1OZbIuj.png">
                <div class="container">
                    <h4 class="about-name">Ann Copeland</h4>
                    <p class="about-title">SCRUM Master</p>
                    <a target="_blank" href="https://www.linkedin.com/in/ann-copeland-608328249/"><img src="https://i.imgur.com/SORKjWg.png" class="linkedin"></a>
                </div>
            </container>      
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 3">
            <container class="about-us">          
                <div class="card blue-grey darken-2 about-card">
                 <img src="https://i.imgur.com/YMgzDdP.png" alt="Jane">
                <div class="container">
                    <h4 class="about-name">Francis Gacad</h4>
                    <p class="about-title">GitHub Manager</p>
                    <a target="_blank" href="https://www.linkedin.com/in/francis-gacad/"><img src="https://i.imgur.com/SORKjWg.png" class="linkedin"></a>
                </div>
            </container>      
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 3">
            <container class="about-us">          
                <div class="card blue-grey darken-2 about-card">
                 <img src="https://i.imgur.com/LDrnJ6S.png" alt="Jane">
                <div class="container">
                    <h4 class="about-name">Marra Emata</h4>
                    <p class="about-title">Designer</p>
                    <a target="_blank" href="https://www.linkedin.com/in/marra-marie-emata-54622744/"><img src="https://i.imgur.com/SORKjWg.png" class="linkedin marra"></a>
                </div>
            </container>      
        </div>
    </div>
      
    <div class="row">
        <div class="col s12 m6 3">
            <container class="about-us">          
                <div class="card blue-grey darken-2 about-card">
                 <img src="https://i.imgur.com/IY9Rk7J.png" alt="Jane">
                <div class="container">
                    <h4 class="about-name">Kyro Mills</h4>
                    <p class="about-title">Database Manager</p>
                    <a target="_blank" href="https://www.linkedin.com/in/kyro-mills/"><img src="https://i.imgur.com/SORKjWg.png" class="linkedin"></a>
                </div>
            </container>      
        </div>
    </div>

{% endblock %}