{% extends 'base.html' %}
{% block content %}


    <span class="amber-text text-lighten-5">
        <h2>about us...</h2>
        <p class="center-align">This site is intended to share with all cocktail lovers and enjoy tested cocktail recipes for your pleasure. Responsible drinkers only please!</p>
    </span>

    <ul>
        <li> <img src="https://i.imgur.com/1OZbIuj.png"></li>
       <li><img src="https://i.imgur.com/YMgzDdP.png"></li> 
        <li><img src="https://i.imgur.com/LDrnJ6S.png"></li>
        <li><img src="https://i.imgur.com/IY9Rk7J.png"></li>
    </ul>

{% endblock %}