{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit <span class="teal-text"> {{ object.name }}</span></h1>
    {% else %}    
        <h1>Add Ingredient</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" value="Submit!" class="btn">
    </form>
    <h1>Ingredients List</h1>

    {% for ingredient in ingredient.all %}
        <a href="#">ingredient.ingredients
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ ingredient.name }}</span>
                </div>
            </div>
        </a>
    {% endfor %}

    {% if ingredients.count %}
      {% for ingredient in ingredients %}
      <a href="{% url 'ingredient_detail' ingredient.id %}">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ ingredient.name }}
              {{ ingredient.type }}
            </span>
          </div>
        </div>
      </a>
      {% endfor %}
    {% else %}
      <h5>No Ingredients :(</h5>
    {% endif %}

    <script>
        const typeSelect = document.getElementById('id_type');
        M.FormSelect.init(typeSelect);
    </script>

{% endblock %}