{% extends 'base.html' %}
{% block content %}

<h1>Ingredient List</h1>
{% if object %}
        <h1>Edit <span class="teal-text"> {{ object.name }}</span></h1>
    {% else %}    
        <h1>Add Ingredient</h1>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit!" class="btn">
    </form>

    
    <div class="card-action">
        <a href="{% url 'recipe_create' drink.id %}">add a recipe</a>
    </div>



{% endblock %}
