{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1>Edit <span class="teal-text"> {{ object.name }}</span></h1>
    {% else %}    
        <h1>Add Ingredient</h1>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_p }}
        </table>
        <input type="submit" value="Submit!" class="btn">
    </form>
    
    
    <div class="section">
      <div class="places-grid">
    {% if object %}
    {% else %}
    {% if ingredients.count %}
    <h1>Ingredients List</h1>
    {% for ingredient in ingredients %}
    <div class="test">
      <a href="{% url 'ingredient_detail' ingredient.id %}" class="ingredient-list">
        <div class="row">
          <div class="col s12 m6">
            <div class="card hoverable">
          <div class="card-content ">
            <span class="card-title">
              {{ ingredient.name }}
              {{ ingredient.type }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
      </a>
      {% endfor %}
    {% else %}
 
      <h5>No Ingredients :(</h5>
    {% endif %}
    {% endif %}
  

    <script>
        const typeSelect = document.getElementById('id_type');
        M.FormSelect.init(typeSelect);
    </script>

{% endblock %}